build
release*
tsan*
asan*
__pycache__
.idea
perf.data*
cmake-build-*
.submit-repo/
CMakeSettings.json
CppProperties.json
.vs/
build_asan
.DS_Store
.cache/
*.pdf
compile_commands.json
.clangd
test_csv
test.csv
test_csv2
test_main.cpp
hits_sample.csv
columnar_hits_sample.tuff



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
